In [1]:
# sting
a = 'Hello world'
b = 'Hello world'
c = '''Hello world'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
# + *

a = "hello world\n"
print(a*2)

hello world
hello world

In [4]:
a = 'hello'
b = 'word'
c = a+b
print(c)

helloword

In [6]:
a = int('10')
a

10

In [15]:
a = 'hello word'
b = a[0:5]
b

'hello'

In [8]:
a ='Hello word'
a[0]

'H'

In [17]:
a ='Hello word'
b = a[0:110:2]
b

'Hlowr'

In [18]:
a = 'Hello word'
b = a[10::-1]
b

'drow olleH'

In [19]:
a = 'Hello word'
b = a[::-1]
b

'drow olleH'

In [22]:
# string formatting

name = 'ram'
age = 34
data = f"Hello my name is {name}.i am {age}."
data

'Hello my name is ram.i am 34.'

In [25]:
name = input("enter name")
age = int(input("enter age"))
add = input("entre add =")
data = f"Hello my name is {name}.i am {age}.i am from {add}."
data

enter nameram
enter age32
entre add =ktm

'Hello my name is ram.i am 32.i am fromktm.'

In [27]:
s = str()
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name")
    price = int(input("enter price"))
    quantity = int(input("enter quantity"))
    total = price*quantity
    bill = f"{name} {price} {quantity} {total}\n"
    s = s+bill
    
print(s)

enter n = 2
enter nameapple
enter price10
enter quantity10
enter namebanan
enter price20
enter quantity5
apple 10 10 100
banan 20 5 100

In [29]:
s = str()
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name")
    price = int(input("enter price"))
    quantity = int(input("enter quantity"))
    total = price*quantity
    bill = f"{name} {price} {quantity} {total}\n"
    s = s+bill
    
s

enter n = 2
enter names
enter price10
enter quantity10
enter namewe
enter price20
enter quantity10

's 10 10 100\nwe 20 10 200\n'

In [32]:
s = "ram shyam hari gita ramesh"
for i in s:
    print(i,end ="")

ram shyam hari gita ramesh

In [34]:
s = "ram shyam hari gita ramesh"
if "ram" in s:
    print("yes")
else:
    print("no")

yes

In [38]:
s = "ram shyam hari gita ramesh"
search = input("enter s =")
if "ram" in s:
    print("yes")
    print(s.count(search))
else:
    print("no")

enter s =rame
yes
1

In [1]:
s = "Ram shyam hari gita ramesh"
search = input("enter s =")
if "ram" in s:
    print("yes")
    print(s.count(search))
else:
    print("no")

enter s =Ram
yes
1

In [2]:
s = "Ram shyam hari gita ramesh"
s.upper()

'RAM SHYAM HARI GITA RAMESH'

In [3]:
s = "Ram shyam hari gita ramesh"
s.lower()

'ram shyam hari gita ramesh'

In [4]:
s = "Ram shyam hari gita ramesh"
print(s.upper())
print(s)

RAM SHYAM HARI GITA RAMESH
Ram shyam hari gita ramesh

In [5]:
s = "Ram shyam hari gita ramesh"
print(s.lower())
print(s)

ram shyam hari gita ramesh
Ram shyam hari gita ramesh

In [8]:
s = "Ram shyam hari gita ramesh"
s = s.lower()
print(s)

ram shyam hari gita ramesh

In [12]:
# mutuable
#  original value change

s = "Ram shyam hari gita Ramesh".lower()
search = input("enter s =").lower()
if "ram" in s:
    print("yes")
    print(s.count(search))
else:
    print("no")

enter s =ram
yes
2

In [14]:
# replace asimple function that convert from one value to another

s = "Ram shyam hari gita Ramesh"
s = s.replace('hari','Hari')
s

'Ram shyam Hari gita Ramesh'

In [15]:

# to replace sequence of character

s = "Ram shyam hari gita Ramesh"
s = s.replace('hari','')
s

'Ram shyam  gita Ramesh'

In [16]:

# to convert list  wap to convert string to list
s = "Ram shyam hari gita Ramesh"
s.split()

['Ram', 'shyam', 'hari', 'gita', 'Ramesh']

In [19]:
# to make first capital
s = "ram shyam hari gita Ramesh"
s.title()

'Ram Shyam Hari Gita Ramesh'

In [20]:
#  prime or composite

n = int(input("enter n = "))
if n>=2:
    for in range(2,n):
#     for i in range(1,n//2+1):
        if n%i=0:
        print(n,"is composite")
        break
        else:
            print(n,"is prime")
else:
    print("the no. is neither composite nor prime")

SyntaxError: invalid syntax (1558568933.py, line 5)

In [1]:
# practise
a = 'Hello word'
b = "Hello word"
c = '''Hello word'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a = "Hello word\n"
print(a*3)

Hello word
Hello word
Hello word

In [2]:
a = '10'
b = int(a)
b

10

In [7]:
a = 'i am a boy'
b =a[0]
b

'i'

In [8]:
a = 'i am a boy'
b = a[0:8]
b

'i am a b'

In [9]:
a ='i am a boy'
b = a[0:10:2]
b

'ia  o'

In [10]:
name = 'laxman'
add = 'kotahimai'
age = 22
data = f'my name is{name}. i live in{add}.i am {age} year.'
print(data)

my name islaxman. i live inkotahimai.i am 22 year.

In [ ]:
name = input("enter name")
add = input("enter add")
age = int(input("enter age"))
data = 'my name is {name}.i live in {add}.i am {age} year.'
data