In [ ]:
# dictionary
# indexed
# Duplicate value
# Ordered
# Mutable

In [1]:
d = dict()
d ={}

In [2]:
d = {"a":"apple","b":"Ball"}
d

{'a': 'apple', 'b': 'Ball'}

In [5]:
d['b']

'Ball'

In [6]:
d = {'a':'apple','b':'ball','A':'apple'}
d

{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [9]:
d ={'A':'apple','B':'ball','A':"apple"}
d

{'A': 'apple', 'B': 'ball'}

In [10]:
# to concate the data in dictionary

d ={'a':'apple',"b":'ball','A':'apple'}
d['c']='cat'
d

{'a': 'apple', 'b': 'ball', 'A': 'apple', 'c': 'cat'}

In [11]:
d ={'a':'apple',"b":'ball','A':'apple'}
d['a']='apple'
d

{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [12]:
d ={}
n =int(input("enter the no = "))
for i in range(n):
    name = input("enter name:")
    phone = input("enter phone:")
    d[name]=phone
print(d)

enter the no = 5
enter name:hari
enter phone:9806956765
enter name:hari
enter phone:9807685522
enter name:shyam
enter phone:816484152
enter name:gita
enter phone:664654433
enter name:ja
enter phone:786546
{'hari': '9807685522', 'shyam': '816484152', 'gita': '664654433', 'ja': '786546'}

In [13]:
d={'Ram':'980756745', 'Hari':'980234523'}
for i in d:
    print(i)

Ram
Hari

In [14]:
d={'Ram':'980756745', 'Hari':'980234523'}
for i in d.values():
    print(i)

980756745
980234523

In [15]:
d={'Ram':'980756745', 'Hari':'980234523'}
for i in d.items():
    print(i)

('Ram', '980756745')
('Hari', '980234523')

In [22]:
# converting from dictinry to list
l=[]
d = {'Ram':'980756745', 'Hari':'980234523'}
for i in d.items():
    l.append(i)
print(l)

[('Ram', '980756745'), ('Hari', '980234523')]

In [24]:
dict(l)

{'Ram': '980756745', 'Hari': '980234523'}

In [35]:
# del
d = {'Ram': '9808778765', 'Shyam': '980878765'}
del d['Ram']
d

{'Shyam': '980878765'}

In [38]:
#  pop()
d = {'Ram': '9808778765', 'Shyam': '980878765'}
c = d.pop('Ram')
print(c)
print(d)

9808778765
{'Shyam': '980878765'}

In [39]:
# List inside dictionary
d = {'Ram':['9805745675','980234123'],'shyam':['98056342','9807545674']}
d

{'Ram': ['9805745675', '980234123'], 'shyam': ['98056342', '9807545674']}

In [40]:
d ={}
n = int(input("enter no "))
for i in range(n):
    name =input("enter name")
    ncell_phone =int(input("enter ncell no"))
    ntc_phone =int(input("enter ntc no"))
    d[name]=[ncell_phone,ntc_phone]
print(d)

enter no 3
enter namehari
enter ncell no98075
enter ntc no98570
enter namegauri
enter ncell no9817447
enter ntc no98476
enter namebaniya
enter ncell no982143
enter ntc no98570
{'hari': [98075, 98570], 'gauri': [9817447, 98476], 'baniya': [982143, 98570]}

In [41]:
# to add in dictionary
d = {'Ram': ['9878778654', '9808778765'], 'Shyam': ['9867667634', '9808667640']}
d['Hari'] =['98069''980756785']
d

{'Ram': ['9878778654', '9808778765'],
 'Shyam': ['9867667634', '9808667640'],
 'Hari': ['98069980756785']}

In [43]:
# To add new number in dictionary 
d = {'Ram': ['9878778654', '9808778765'], 'Shyam': ['9867667634', '9808667640']}
d['Shyam'].append('9807567456')
d

{'Ram': ['9878778654', '9808778765'],
 'Shyam': ['9867667634', '9808667640', '9807567456']}

In [45]:
# list inside dictionary
d={'name':['ram','shyam','Hari'],'age':['22','12','67'],'add':['kotahimai','samari','mayaevi']}
d

{'name': ['ram', 'shyam', 'Hari'],
 'age': ['22', '12', '67'],
 'add': ['kotahimai', 'samari', 'mayaevi']}

In [47]:
d = {'name':['Ram','Shyam','Hari'],'age':[64,89,43],'add':['Kathmandu','Bhaktapur','Lalitpur']}
d['name'].append('laxman')
d['age'].append('22')
d['add'].append('54')
d

{'name': ['Ram', 'Shyam', 'Hari', 'laxman'],
 'age': [64, 89, 43, '22'],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur', '54']}

In [48]:
# dict inside list
l = [{'name':'Ram','age':45,'add':'Kathmandu'},
    {'name':'Rama','age':41,'add':'Bara'},
    {'name':'Shyam','age':48,'add':'Bara'}]
l

[{'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
 {'name': 'Rama', 'age': 41, 'add': 'Bara'},
 {'name': 'Shyam', 'age': 48, 'add': 'Bara'}]

In [49]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
    
l

Enter n = 3
Enter name = laxman
Enter age = 22
Enter add = kot
Enter name = babi
Enter age = 34
Enter add = sama
Enter name = hari
Enter age = 56
Enter add = mar

[{'name': 'laxman', 'age': 22, 'add': 'kot'},
 {'name': 'babi', 'age': 34, 'add': 'sama'},
 {'name': 'hari', 'age': 56, 'add': 'mar'}]

In [50]:
l[0]['name'] = "Rama"

In [51]:
del l[0]
l

[{'name': 'babi', 'age': 34, 'add': 'sama'},
 {'name': 'hari', 'age': 56, 'add': 'mar'}]

In [52]:
# dict inside dict
d = {1:{"name":"Ram","grade":"A"},
    2:{"name":"Hari","grade":"B"},
    3:{"name":"Sita","grade":"C"}}
d

{1: {'name': 'Ram', 'grade': 'A'},
 2: {'name': 'Hari', 'grade': 'B'},
 3: {'name': 'Sita', 'grade': 'C'}}

In [53]:
d = {}
d[1]={"name":"Ram","grade":"A"}
d[2] = {"name":"Hari","grade":"B"}
d

{1: {'name': 'Ram', 'grade': 'A'}, 2: {'name': 'Hari', 'grade': 'B'}}

In [54]:
d = {1:{"name":"Ram","grade":"A"},
    2:{"name":"Hari","grade":"B"},
    3:{"name":"Sita","grade":"C"}}
d[1]['name']

'Ram'