In [ ]:
# file = open('<file_path>','<mode>')
# file.close()

In [ ]:
# with open('file_name>','<mode>') as file:
#     <operation>

In [ ]:
# mode
# read ->  'r'
# create -> 'x'
# write ->  'w'
# append -> 'a'

In [1]:
file =open('new_file.txt','x')
file.close()

In [3]:

try:
    file =open('new_file.txt','x')
    file.close()
except:
    print('the file is already exit')

the file is already exit

In [3]:
#read file
file =open('new_file.txt','r')
x=file.read()
print(x)
print(type(x))
file.close()

1.Hello world
2.Hello world
3.Hello world
4.Hello world
5.Hello world
6.Hello world
7.Hello world
<class 'str'>

In [6]:
#for read single line on file.txt
n =int(input("enter n= "))
x.split('\n')[n-1]

enter n= 2

'2.Hello world'

In [7]:
with open('data.txt','w')as file:
    file.write('Hello world')

In [13]:
s=""
n=int(input("Enter n= "))
for i in range (n):
    name =input("enter name =")
    age =input("enter age =")
    add= input("enter add =")
    s =s+f"{name} {age} {add}\n"

with open('data.txt','w')as file:
    file.write(s)

Enter n= 2
enter name =laxman
enter age =23
enter add =ktm
enter name =baby
enter age =34
enter add =bhw

In [12]:
pwd

'C:\\Users\\laxman\\Python_class'

In [15]:
s= str()
n=int(input("Enter n= "))
for i in range(n):
    name =input("enter name =")
    price =int(input("enter price"))
    quantity =int(input("enter quantity ="))
    total =price*quantity
    bill=f"{name} {price} {quantity} {total}\n"
    s =s+bill
    
print(s)

with open('data.txt','w')as file:
    file.write(s)

Enter n= 2
enter name =paddy
enter price100
enter quantity =10
enter name =wheat
enter price23
enter quantity =10
paddy 100 10 1000
wheat 23 10 230

In [16]:
#csv file

s= str()
n=int(input("Enter n= "))
for i in range(n):
    name =input("enter name =")
    price =int(input("enter price"))
    quantity =int(input("enter quantity ="))
    total =price*quantity
    bill=f"{name}, {price}, {quantity}, {total}\n"
    s =s+bill
    
print(s)

with open('data.csv','w')as file:
    file.write('name,price,quantity,total\n')
    file.write(s)

Enter n= 2
enter name =ornge
enter price90
enter quantity =10
enter name =apple
enter price80
enter quantity =10
ornge, 90, 10, 900
apple, 80, 10, 800

In [2]:
#pip install pandas except ananconda eg vs code ,sublime,

import pandas as pd
df =pd.read_csv('data.csv')
df

   sn  name  age     add       phone
0   1   ram   22     ktm  9807878564
1   2  syam   45     bhw  9804423456
2   3  hari   34     btw   890764532
3   4  gita   23     bar   980453216
4   5  sita   98      fR  9807567453
5   6  rita   89  parasi    98067432

In [3]:
import csv
a =[['Momo',200,3,600],['coke',100,2,200]]
with open('bill.csv','w')as file:
    x =csv.writer(file)
    x.writerows(a)

AttributeError: module 'csv' has no attribute 'DicReader'