In [ ]:
# Set
# -No indexing
# -Unordered
# -Multiple but no duplicate data
# -Mutable data (changeable)

In [1]:
s ={1,2,3}
s = set()
print(type(s))

<class 'set'>

In [2]:
s ={34,56,22,89,14,11,23}
print(s)
s

{34, 22, 23, 56, 89, 11, 14}

{11, 14, 22, 23, 34, 56, 89}

In [3]:
# No duplicate data but multiple
s ={34,56,22,89,14,11,23,34,11,56}
print(s)

{34, 22, 23, 56, 89, 11, 14}

In [4]:
# convert in list
s ={34,56,22,89,14,11,23}
list(s)

[34, 22, 23, 56, 89, 11, 14]

In [7]:
s =[34,56,22,89,14,11,23,34,11,56]
list(set(s))

[34, 11, 14, 22, 23, 56, 89]

In [9]:
# add a new value  mutable
s =set()
s.add('apple')
s.add('ball')
s.add('cat')
print(s)

{'ball', 'apple', 'cat'}

In [2]:
s =set()
n =int(input("enter the no = "))
for i in range(n):
    x =input("enter x = ")
    s.add(x)
s

enter the no = 3
enter x = 232
enter x = 545
enter x = 765

{'232', '545', '765'}

In [1]:
# remove data
s ={'132','243','546','678','8576'}
s.remove('132')
s

{'243', '546', '678', '8576'}

In [3]:
s ={'132','243','546','678','8576'}
s *3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [5]:
apple ={"Ram","jobs",'jack',"sabin",'Nabin'}
ms ={"Naresg","Gates",'jack',"subin",'Nabin'}
apple.intersection(ms)

{'Nabin', 'jack'}

In [6]:
apple.union(ms)

{'Gates', 'Nabin', 'Naresg', 'Ram', 'jack', 'jobs', 'sabin', 'subin'}

In [7]:
# to change origina value
apple.update(ms)
apple

{'Gates', 'Nabin', 'Naresg', 'Ram', 'jack', 'jobs', 'sabin', 'subin'}

In [8]:
# to check only apple enployee
apple ={"Ram","jobs",'jack',"sabin",'Nabin'}
ms ={"Naresg","Gates",'jack',"subin",'Nabin'}
# apple.difference(ms)
apple-ms

{'Ram', 'jobs', 'sabin'}

In [9]:
# to check only ms employee
ms-apple

{'Gates', 'Naresg', 'subin'}

In [11]:
# on the universal 
U ={'Gates','Nabin',"Naresg","Ram","jack","jobs","sabin","subin",'Kis','john'}
apple ={"Ram","jobs",'jack',"sabin",'Nabin'}
ms ={"Naresg","Gates",'jack',"subin",'Nabin'}

un =apple.union(ms)
U-un

{'Kis', 'john'}

In [13]:
# on linkin
job ={'python','django','html','css'}
u ={'python','html'}
job.intersection(u)

{'html', 'python'}

In [14]:
job ={'python','django','html','css'}
u ={'python','html'}
len(job.intersection(u))

2

In [15]:
len(job.intersection(u))/len(job)*100

50.0

In [ ]:
# use on voting machine,crupyo machine,linkin

in set there is no mutable data type like list,

In [ ]:
job ={('python','django'),'html','css')}

In [16]:
# set inside list
l =[(1,2,3),(4,5,6)]
l

[(1, 2, 3), (4, 5, 6)]

In [17]:
# set inside Touple
T =({1,2,3},{4,5,})
T

({1, 2, 3}, {4, 5})

In [21]:
d = {"aplle":{"Ram",'jobs','Jack','sabin','Nabin'},
              "ms":{"gates","Narsh","Jack",'subin',"nabin"},
     "int":apple.intersection(ms),
     "union":apple.unoion(ms)}
d

AttributeError: 'set' object has no attribute 'unoion'

In [18]:
apple.isdisjoint(ms)

False

In [ ]:
a ={1,2,3,4,5,6,7,8,9,0}