In [ ]:
# Tumple
# -indexing
# -ordered
# -Duplicate value
# -Multiple values
# -Imutable

In [1]:
a =(1,2,3,4,5,6,)
b =('Apple','Ball','Cat')
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [2]:
b =('Apple','Ball','Cat')
print(b[0])

Apple

In [4]:
b =('Apple','Ball','Cat')
print(b[0:3])

('Apple', 'Ball', 'Cat')

In [3]:
a =('Apple','Ball','Cat')
b =('dog','goat')
c =a+b
print(c)

('Apple', 'Ball', 'Cat', 'dog', 'goat')

In [5]:
b =('Apple','Ball','Cat')
b*2

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [ ]:
# No append()  insert()   extend()
# No del pop()   remove()
# No update()

In [9]:
a =('apple',)
type(a)

tuple

In [11]:
a =tuple()
b ='apple'
a =a+(b,)
a

('apple',)

In [12]:
a =tuple()
b ='apple'
c ='Ball'
a =a+(b,)
a =a+(c,)
a

('apple', 'Ball')

In [15]:
t =tuple()
n =int(input("enter the no.= "))
for i in range(n):
    x = int(input("enter x = "))
    t =t+(x,)
print(t)

enter the no.= 2
enter x = 12
enter x = 1
(12, 1)

In [21]:
# in rare case if we need to edit(change)tuple then convrsion to list

t =(12,23,45,23,43)
l =list(t)
del l[0]
t = tuple(l)
t

(23, 45, 23, 43)

In [ ]:
# we cac
# max min sum
# read search

In [27]:
a =('Ram','shyam','Hari','Sita')
if 'Ram'in a:
    print('yes')

yes

In [28]:
a =('Ram','shyam','Hari','Sita')
sorted(a)

['Hari', 'Ram', 'Sita', 'shyam']

In [ ]:
# tuple inside tuple

In [30]:
# t =((1,2,3),
#    (4,5,6),
#    (7,8,9))


t =tuple()
n =int(input("enter the no.= "))
for i in range(n):
    x = int(input("enter x = "))
    y = int(input("ener y = "))
    z = int(input("enter z="))
    t =t+((x,y,z),)
print(t)

enter the no.= 3
enter x = 5
ener y = 6
enter z=4
enter x = 2
ener y = 3
enter z=1
enter x = 6
ener y = 8
enter z=6
((5, 6, 4), (2, 3, 1), (6, 8, 6))