In [ ]:
# Comprehension:List,dictionary

In [3]:
l = [i for i in range(5)]
l

[0, 1, 2, 3, 4]

In [4]:
# in touple not support
l =(i for i in range(5))
l

In [5]:
l = [i for i in range(10) if i%2 ==0]
l

[0, 2, 4, 6, 8]

In [6]:
a = [23,45,67,23,89,56,43]
l = [x for x in a if x%2 ==0]
l

[56]

In [7]:
a =["apple","ball","cat","Dog","fish"]
l =[x for x in a if x[0].isupper()]
l

['Dog']

In [8]:
d ={i:i**2 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [11]:
# to convert in upper or lower case
a =["apple","ball","cat","dog","fish"]
d ={i:i.upper() for i in a}
d

{'apple': 'APPLE', 'ball': 'BALL', 'cat': 'CAT', 'dog': 'DOG', 'fish': 'FISH'}

In [12]:
l =[input("Enter value = ") for i in range(5)]
l

Enter value = lax
Enter value = lb
Enter value = lak
Enter value = sona
Enter value = baby

['lax', 'lb', 'lak', 'sona', 'baby']

In [14]:
d ={input("Enter name = "):int(input("Enter phone = ")) for i in range(2)}
d

Enter name = laxman
Enter phone = 9816484172
Enter name = babita
Enter phone = 9827418759

{'laxman': 9816484172, 'babita': 9827418759}

In [15]:
# Date and Time

import datetime

x = datetime.datetime.now()
print(x)

2022-11-02 06:08:45.979065

In [17]:
import datetime

x = datetime.datetime.now()
print(x.strftime("%a"))

Wed

In [18]:
# time calculation for running code
import datetime

x = datetime.datetime.now()
value =input("Enter value =")
y = datetime.datetime.now()
print(y-x)

Enter value =Hello world
0:00:08.145272

In [20]:
# OS package
import os
# listdir() mkdir() chdir() remove rmdir() rename()
os.listdir()

['.ipynb_checkpoints',
 'Assigments.ipynb',
 'Bonus_D20.20221101.ipynb',
 'Day_1.ipynb',
 'Day_2.ipynb',
 'Day_3.loop.ipynb',
 'Day_4Break_continue_statement.ipynb',
 'Day_6string.ipynb',
 'Dictionary_D10.ipynb',
 'D_5whileloop.ipynb',
 'File_Day13.ipynb',
 'Function_D12.ipynb',
 'List_Day7.ipynb',
 'list_up_D8.ipynb',
 'Mysql_Day15.ipynb',
 'new_fil.txt',
 'Set_day11.ipynb',
 'tumple_Day9.ipynb']